* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  overflow-x: hidden;
}

header {
  height: 948px;
  width: 100%;
  position: relative;
}

header .header-content {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-align: center;
  overflow-y: hidden;
}

nav {
  background-color: #000;
  padding: 5px 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav ul li {
  cursor: pointer;
  padding: 15px 0;
}

nav ul li:hover {
  color: #FFF;
}

nav ul li:nth-child(6) {
  width: -moz-fit-content;
  color: #FFF;
  -webkit-transition: background-color .35s ease-in-out;
  transition: background-color .35s ease-in-out;
}

nav ul li:nth-child(6)::after {
  all: unset !important;
}

nav ul li:nth-child(6):hover {
  background-color: #186e8f;
}

nav ul li:nth-child(6):hover a {
  color: #FFF;
}

nav ul li.logo {
  margin-right: auto;
  font-size: 25px;
  font-weight: 700;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #46B6E0;
}

nav ul li.logo span {
  color: white;
}

nav ul li.nav_links {
  width: auto;
  margin: 0 16px;
  text-align: center;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

nav ul li.nav_links:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 0%;
  background: #46B6E0;
  left: 0;
  bottom: 9px;
  opacity: 1;
  -webkit-transition: all 0.2s cubic-bezier(0.15, 0.41, 0.82, 0.3);
  transition: all 0.2s cubic-bezier(0.15, 0.41, 0.82, 0.3);
}

nav ul li.nav_links:hover:after {
  width: 100%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s;
}

nav ul li a i {
  width: 35px;
  height: 35px;
}

nav ul li:hover a {
  color: #46B6E0;
}

nav ul li i {
  font-size: 23px;
}

nav ul li.btn {
  display: none;
}

nav ul li.btn a {
  font-size: 35px;
}

nav ul li.btn.hide i:before {
  content: '\f00d';
}

@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }
  nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul li.nav_links {
    width: 100%;
    display: none;
    left: -2%;
  }
  nav ul li.nav_links.show {
    display: block;
  }
  nav ul li.btn {
    display: block;
  }
  nav ul li:nth-child(6) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  nav .header-content p {
    font-size: 15px;
  }
  nav .header-content .pha1 {
    font-size: 40px;
  }
  nav .header-content button {
    width: 130px;
    height: 40px;
    font-size: 15px;
  }
  nav ul li.btn {
    display: block;
  }
}

.mVideo video {
  position: absolute;
  left: 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 1200px) {
  .mVideo {
    width: 100%;
    height: auto;
    background: none;
  }
}

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.4% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #46B6E0;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

.backgroung-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.backgroung-cover h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #FFF;
  font-weight: bold;
  font-size: 60px;
}

* {
  overflow-y: unset;
}

.partuno {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.partuno .parttwo {
  width: 50%;
  padding: 20px 20px 50px;
}

.partuno .parttree {
  padding-left: 20px;
  width: 41%;
}

.parttree img {
  height: auto;
  width: 500px;
}

.parag {
  font-size: 24px;
}

.cardy {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardy.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 1000px) {
  .cardy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.threedivs {
  border: 1px solid #46B6E0;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
  padding-bottom: 10px;
  position: relative;
}

button {
  background-color: #46B6E0;
  border: none;
  border-radius: 20px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.threedivs .center {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.parag p {
  text-align: center;
}

.par {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-us {
  margin: auto;
  width: 90vw;
  padding: 20px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
  width: 70vw;
  font-size: 30px;
  font-weight: bold;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.notre-ecole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: auto;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.notre-ecole .description {
  width: 35em;
  margin-right: 100px;
  height: 100%;
  border: 1px solid #707070;
  padding: 10px 30px 10px 10px;
  font-size: 25px;
  position: relative;
  margin-right: 50px;
}

.image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  overflow-y: hidden;
  width: 35em;
  margin: auto 0;
  margin-right: 50px;
}

.paragraph {
  margin-bottom: 30px;
  display: block;
}

.auteur {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 4%;
  bottom: 2%;
}

@media all and (max-width: 1300px) {
  .notre-ecole {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .notre-ecole .description {
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.shadow {
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.form-login {
  background-color: #FFF;
  border: 1px solid;
  padding: 45px;
  margin: 27px 0px;
  position: relative;
  height: 350px;
}

.form-login a {
  position: absolute;
  right: 43px;
}

.form-login button {
  position: absolute;
  bottom: 25px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.login .big-title {
  font-weight: 800px;
  font-size: 50px;
}

.login .email,
.login .password {
  position: relative;
  margin-bottom: 20px;
}

.login .form-login .input {
  padding: 10px;
  text-indent: 40px;
  width: 26em;
  font-size: 20px;
}

.login .form-login .fa {
  position: absolute;
  top: 11px;
  left: 8px;
  font-size: 27px;
  overflow: visible;
}

.login .form-login .fa:after {
  content: '';
  height: 47.5px;
  width: 2px;
  background-color: #000;
  position: absolute;
  left: 32px;
  top: -11px;
}

.background-cover {
  background-image: url("../pics/parents.PNG");
  height: 500px;
}

@media all and (max-width: 1200px) {
  .partuno {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .partuno img {
    width: 100%;
  }
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 35px;
  font-weight: 400;
}

.main h1 {
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.void {
  margin-top: 16px;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (max-width: 1055px) {
  header {
    height: 295px;
  }
  .main h1 {
    font-size: 25px;
    padding: 15px 15px;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  text-align: center;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(40%, #00bcd4), to(#00bcd4));
  background: linear-gradient(to bottom left, #00bcd4 40%, #00bcd4 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */